.not-found-page{
    width: 100%;
    height: 100vh;
    position: relative;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    background: $white-bg;

    .forms-container{
        width: 50%;

        .col-form-forms{
            padding: 0 2rem;
           
            h1{
                margin-bottom: .5rem;
            }

            p{
                font-size: 1.3rem;
                margin-bottom: 1rem;
            }
            
        }
    }
}