// colors

$blue: #1e4363;
$white: #ffff;
$white-bg: #fafdff;
$yellow: #FFCC01;
$dark-grey-2: #201c1b;
$dark-grey-3: #362f2e;



$primary:         #ff3300;
// $primary:         #e8412c;

$secondary:       #142339;
$secondary-beta:  #333f5d;
// $secondary:       #142239;
// $secondary:       #2C3C60;

$thirdly:         #b32820;


$brown-grey:      #9b9b9b;
$brown-grey-two:  #8f8f8f;
$brown-grey-three:#b4b4b4;
$very-light-pink: #e9e9e9;
$gray-alpha:      #f4f4f4;
$dark-grey:       #121213;
$dark-sky-blue:   #4a90e2;

// sizes
$base-size:     16px;

// breakpoints
$bp-smallx:     480px;
$bp-smallxx:    600px;
$bp-medium:     768px;
$bp-mediumx:    1024px;
$bp-mediumxx:   1280px;
$bp-large:      1366px;
$bp-max:        1899px;
$bp-fullhd:     1920px;